.DS_Store
node_modules/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode


package-lock.json
yarn.lock
node_modules
run
app/public/upload
docker-compose/mysql/data/*
docker-compose/redis/data/*
docker-compose/nginx/html/*